
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    
    
}


h3 {
    color: slateblue;
    text-decoration: underline;
    text-align: center;
    height: 4%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: normal;
    
}
form{
    width: 100%;
    height: 96%;  
    margin: auto;
}

table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
    background-color: slateblue;
    border-collapse: collapse;
    height: 100%;
    width: 60%;  
}
@media screen and (max-width: 768px) {
    h3 {
        font-size: 20px;
    }

    form {
        width: 100%;
        height: 100%;
    }
    
    table {
        font-size: 12px;
        width: 100%;
    }

    table.newTable td {
        padding: 8px;
    }

    table.edu input {
        width: 100%;
    }
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
    h3 {
        font-size: 18px;
    }

    form {
        width: 100%;
        height: 100%;
    }

    table {
        font-size: 10px;
        width: 100%;
    }

    table.newTable td {
        padding: 5px;
    }

    table.edu input {
        width: 100%;
    }
    input[type="text"],input[type="email"],input[type="number"],select,textarea{
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
}
